.experience-section {
  padding: 50px 0;
  text-align: center;
}

.section-title {
  font-size: 2.5rem;
  margin-bottom: 30px;
  color: white;
}

.experience-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.experience-item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background: #fff;
  margin: 15px;
  padding: 20px;
  border-radius: 10px;
  width: 800px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.experience-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px white; 
}

.experience-details {
  flex: 1;
  padding-right: 20px;
}

.experience-image {
  flex: 1;
  text-align: center;
}

.project-image {
  width: 100%;
  border-radius: 10px;
  max-width: 300px; /* Limit image width */
  height: auto; /* Maintain aspect ratio */
}

.experience-title {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 10px;
}

.experience-role,
.experience-duration {
  font-size: 1rem;
  color: #777;
  margin-bottom: 10px;
}

.buttons {
  display: flex;
  flex-direction: column;
}

.certificate-button {
  background-color: #a855f7;
  color: white;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  margin: 5px 0;
  transition: background-color 0.3s ease;
}

.certificate-button:hover {
  background-color: #9333ea;
}
