.firstsection {
  margin-top: 10%;
  padding: 65px 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.leftsection {
  font-size: 2rem;
  text-align: center;
  margin-right: 160px;
}

.lefthello,
.leftyash,
.webcolor {
  margin: 0;
  padding: 3px 0;
}

.aboutpage {
  padding-left: 6%;
  padding-right: 6%;
}

.about-firstsection {
  margin-top: 60px;
  display: flex;
  align-items: center;
}

.about-leftsection {
  padding-right: 100px;
}

.education {
  margin-top: 50px;
}

.about-secleftsection {
  padding-right: 100px;
}

.about-secrightsection {
  align-items: center;
}

.know-who,
.education {
  font-size: 2rem;
}

.wave {
  display: inline-block;
  animation: wave-animation 1.5s infinite;
  transform-origin: 70% 70%;
}

@keyframes wave-animation {
  0% { transform: rotate(0deg); }
  10% { transform: rotate(14deg); }
  20% { transform: rotate(-8deg); }
  30% { transform: rotate(14deg); }
  40% { transform: rotate(-4deg); }
  50% { transform: rotate(10deg); }
  60% { transform: rotate(0deg); }
  100% { transform: rotate(0deg); }
}

.i-m,
.yashpatel,
.action,
.sigmauniversity,
.Diplomasigma,
.school {
  color: #a855f7;
}

.sigmainfo,
.schoolinfo {
  font-size: 0.9rem;
}

.lefthello {
  font-size: 2.5rem;
  text-align: left;
}

.leftyash {
  text-align: left;
  font-size: 2rem;
}

.Yashcolor {
  color: #a855f7;
}

.webcolor {
  color: #a855f7;
  font-size: 2.5rem;
}

.rightsection img {
  width: 100%;
}

.centered-text {
  text-align: center;
  padding-top: 35px;
  font-size: 2rem;
}

.introcolor {
  color: #a855f7;
}

.about-secondsection {
  display: flex;
  padding-bottom: 10px;
}

.secondsection {
  padding: 65px 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.secondleftsection {
  margin: 0px 86px;
  font-size: 1.1rem;
  width: 55%;
}

.secondrightsection {
  width: 35%;
}

.paragraph {
  color: #a855f7;
}

.visitsitelink {
  background-color: #a855f7;
  border: none;
  padding: 15px 20px;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 5px;
}

.visitsitelink a {
  color: white;
  text-decoration: none;
}

.visitsitelink:hover {
  background-color: #9333ea;
}

.thirdsection {
  text-align: center;
  padding-top: 30px;
  position: relative;
  overflow: hidden;
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  width: 200px;
  height: 200px;
  margin: 10px;
  border-radius: 30px;
  border: 3px solid transparent;
  transition: all 0.3s ease;
  position: relative;
}

.card:hover {
  border-color: #a855f7;
  transform: scale(1.1);
  box-shadow: 0 0 15px #a855f7;
}

.card-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  filter: grayscale(100%);
  position: relative;
}

.card-content:hover {
  filter: grayscale(0%);
}

.card img {
  max-width: 35%;
  max-height: 35%;
  transition: filter 0.3s ease;
}

.card p {
  opacity: 0;
  transition: opacity 0.3s ease;
  position: absolute;
  bottom: 10px;
  color: white;
}

.card:hover p {
  opacity: 1;
}
   
.meteor {
  position: absolute;
  width: 2px;
  z-index: -1;
  height: 90px;
  background: white; 
  animation: meteor-fall linear infinite;
}

@keyframes meteor-fall {
  0% {
    transform: translate3d(0, 0, 0) rotate(45deg);
    opacity: 1;
  }
  100% {
    transform: translate3d(-200vw, 200vh, 0) rotate(45deg);
    opacity: 0;
  }
}

.word {
  display: inline-block;
  opacity: 0;
  animation: fadeInUp 0.5s forwards;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fadeInUp {
  animation: fadeInUp 0.5s forwards;
}
