nav {
  font-size: 22px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80px;
  width: 100%;
  background-color:#111827;
}

nav .left {
  color: white;
}

nav ul {
  display: flex;
  justify-content: center;
}

nav ul li {
  list-style: none;
  margin: 4px 23px;
}

nav ul li a {
  position: relative;
  color: white;
  text-decoration: none;
}

nav ul li a::before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  height: 2px;
  background-color: white;
  transition: width 0.3s ease-in-out;
  width: 0;
}

nav ul li a:hover::before {
  width: 100%;
}

body {
  background-color: #111827; 
  color: white;
}


.firstsection {
  padding: 40px 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.leftsection {
  font-size: 2rem;
  text-align: center; 
  margin-right: 160px;
}


.lefthello,
.leftyash,
.webcolor {
  margin: 0; 
  padding: 3px 0; 
}

.lefthello {
  font-size: 2.5rem; 
  text-align: left;
}

.leftyash {
  text-align: left;
  font-size: 2rem; 
}

.Yashcolor {
  color: #a855f7; 
}

.webcolor {
  color: #a855f7; 
  font-size: 2.5rem; 
}

.rightsection img {
  width: 95%;
  margin: 49px 4px;
  padding: 3px;
}

.centered-text {
  text-align: center;
  padding-top: 35px;
  font-size: 2rem;
}

.introcolor{
  color: #a855f7;
}

.secondsection {
  padding: 65px 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.secondleftsection {
  margin: 0px 86px;
  font-size: 1.1rem;
  width: 55%;
}

.secondrightsection{
  width: 35%;
}


.paragraph{
  color: #a855f7;
}

.resume {
  color: white;
  border-radius: 15px;
  width: 25%;
  background-color: #a855f7;
  padding: 12px;
}

.thirdsection {
  text-align: center;
  padding-top: 30px;
}

.images{
  justify-content: space-evenly;
  display: flex;
  padding-top: 50px;
  padding-bottom: 40px;
}

.html-logo,
.css-logo,
.js-logo,
.mongo-logo,
.git-logo,
.python-logo,
.node-logo,
.react-logo {
  width: 100%; 
}

.footer{
background-color: black;
}

.footercentered-text {
  padding-top: 20px;
  border-top: 3px solid #a855f7; /* Updated top border */
  text-align: center; 
}

.social-icons {
  text-align: center; 
  margin-top: 20px; 
}

.social-icons a {
  color: #a855f7;
  font-size: 24px; 
  margin: 0 10px; 
  transition: color 0.3s ease; 
}

.social-icons a:hover {
  color: #663399; 
}

.footerlast{
  display: flex;
  padding-bottom: 10px;
  justify-content: space-around;
}

.Copyright{
  color: #a855f7;
}