.header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: transparent;
  color: white;
  padding: 0 20px;
  z-index: 1000;
}

.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #111827;
  transition: background-color 0.3s ease, backdrop-filter 0.3s ease;
  z-index: -1;
}

.header::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: #a855f7;
  transition: height 0.3s ease;
}

.header.scrolled::before {
  background-color: rgba(17, 24, 39, 0.7);
  backdrop-filter: blur(10px);
}

.header.scrolled::after {
  height: 1px;
}

nav {
  font-size: 22px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80px;
}

nav .left {
  color: white;
}

.navigation {
  align-content: center;
  justify-items: center;
  padding: 2px;
  margin: 10px -10px;
  background-color: white;
  border-radius: 25px;
  width: 50px;
  height: 20px;
}

.navigatebutton {
  width: 15px;
  margin-left: 3px;
  border-radius: 50px;
  height: 15px;
  background-color: black;
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul li {
  list-style: none;
  margin: 4px 23px;
}

nav ul li a {
  position: relative;
  color: white;
  text-decoration: none;
}

nav ul li a::before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  border-radius: 30px;
  height: 3.5px;
  background-color: white;
  transition: width 0.3s ease-in-out;
  width: 0;
}

.right {
  display: flex;
}

nav ul li a:hover::before {
  width: 100%;
}


body {
  background-color: #111827;
  color: white;
}

.firstsection {
  margin-top: 10%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.leftsection {
  font-size: 2rem;
  text-align: center;
  margin-right: 160px;
}

.lefthello,
.leftyash,
.webcolor {
  margin: 0;
  padding: 3px 0;
}

.aboutpage {
  padding-left: 6%;
  padding-right: 6%;
}

.about-firstsection {
  margin-top: 60px;
  display: flex;
  align-items: center;
}

.about-leftsection {
  padding-right: 100px;
}

.education {
  margin-top: 50px;
}

.about-secleftsection {
  padding-right: 100px;
}

.about-secrightsection {
  align-items: center;
}

.know-who,
.education {
  font-size: 2rem;
}

.i-m,
.yashpatel,
.action,
.sigmauniversity,
.Diplomasigma,
.school {
  color: #a855f7;
}

.sigmainfo,
.schoolinfo {
  font-size: 0.9rem;
}

.lefthello {
  font-size: 2.5rem;
  text-align: left;
}

.leftyash {
  text-align: left;
  font-size: 2rem;
}

.Yashcolor {
  color: #a855f7;
}

.webcolor {
  color: #a855f7;
  font-size: 2.5rem;
}

.rightsection img {
  width: 95%;
  margin: 49px 4px;
  padding: 3px;
}

.centered-text {
  text-align: center;
  padding-top: 35px;
  font-size: 2rem;
}

.introcolor {
  color: #a855f7;
}

.about-secondsection {
  display: flex;
  padding-bottom: 10px;
}

.secondsection {
  padding: 65px 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.secondleftsection {
  margin: 0px 86px;
  font-size: 1.1rem;
  width: 55%;
}

.secondrightsection {
  width: 35%;
}

.paragraph {
  color: #a855f7;
}

.resume {
  color: white;
  border-radius: 15px;
  width: 25%;
  background-color: #a855f7;
  padding: 12px;
}

.thirdsection {
  text-align: center;
  padding-top: 30px;
  background-color: #111827;
  position: relative;
  overflow: hidden;
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  width: 200px;
  height: 200px;
  margin: 10px;
  border-radius: 30px;
  border: 3px solid transparent;
  transition: all 0.3s ease;
  position: relative;
}

.card:hover {
  border-color: #a855f7;
  transform: scale(1.1);
  box-shadow: 0 0 15px #a855f7;
}

.card-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  filter: grayscale(100%);
}

.card-content:hover {
  filter: grayscale(0%);
}

.card img {
  max-width: 35%;
  max-height: 35%;
  transition: filter 0.3s ease;
}

.card p {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.card:hover p {
  opacity: 1;
}

.meteor {
  position: absolute;
  width: 2px;
  height: 90px;
  background: linear-gradient(45deg, #ff9900, transparent);
  animation: meteor-fall linear infinite;
}

@keyframes meteor-fall {
  0% {
    transform: translate3d(0, 0, 0) rotate(45deg);
    opacity: 1;
  }
  100% {
    transform: translate3d(-200vw, 200vh, 0) rotate(45deg);
    opacity: 0;
  }
}

/* Project section css */
.Projectsection{
  display: flex;
  justify-content: space-around;
}

.projectcard{
  width: 40px;
  height: 60px;
  border-radius: 20px;
  border-color: #a855f7;
  display: flex;
  flex-direction: column;
}

.projectimage{
  width: 100%;
}

.footer {
  background-color: black;
}

.footercentered-text {
  padding-top: 20px;
  border-top: 3px solid #a855f7;
  text-align: center;
}

.social-icons {
  text-align: center;
  margin-top: 20px;
}

.social-icons a {
  color: #a855f7;
  font-size: 24px;
  margin: 0 10px;
  transition: color 0.3s ease;
}

.social-icons a:hover {
  color: #663399;
}

.footerlast {
  display: flex;
  padding-bottom: 10px;
  justify-content: space-around;
}

.Copyright {
  color: #a855f7;
}
