/* App.css */

/* Header styles */
nav {
  font-size: 22px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80px;
  width: 100%;
  background-color: #111827;
}

nav .left {
  color: white;
}

nav ul {
  display: flex;
  justify-content: center;
}

nav ul li {
  list-style: none;
  margin: 4px 23px;
}

nav ul li a {
  position: relative;
  color: white;
  text-decoration: none;
}

nav ul li a::before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  height: 2px;
  background-color: white;
  transition: width 0.3s ease-in-out;
  width: 0;
}

nav ul li a:hover::before {
  width: 100%;
}

body {
  background-color: #111827; /* Set background color to #111827 */
  color: white;
}

/* Section styles */
.firstsection {
  display: flex;
  justify-content: space-around;
  margin: 1% -5% 3%; /* Adjust margin */
  align-items: center;
}

.leftsection {
  font-size: 2rem;
  text-align: center; /* Center align the text */
}

/* Reduce spacing between lines */
.lefthello,
.leftyash,
.webcolor {
  margin: 0; /* Reset margin */
  padding: 3px 0; /* Add padding to top and bottom */
}

.lefthello {
  /* Add styles for "hello" */
  font-size: 2.5rem; /* Make "hello" bigger */
  text-align: left;
}

.leftyash {
  text-align: left;
  /* Add styles for "I'm Yash" */
  font-size: 2rem; /* You can adjust the font size */
}

.Yashcolor {
  /* Add styles for Yash */
  color: #a855f7; /* You can use any color you prefer */
}

.webcolor {
  /* Add styles for "Web Developer" */
  color: #a855f7; /* You can use any color you prefer */
  font-size: 2.5rem; /* Make "Web Developer" bigger */
}

.rightsection img {
  width: 95%;
  margin: 49px 4px;
  padding: 3px;
}

.centered-text {
  text-align: center;
  padding: 35pxpx 0;
  font-size: 2rem;
}

.introcolor{
  color: #a855f7;
}

.secondsection {
  display: flex;
  justify-content: space-around;
  margin: 2% -5% 3%; /* Adjust margin */
  align-items: center;
}

.secondleftsection {
  font-size: 1.1rem;
  width: 40%;
  margin: 0px 117px;
}

.secondrightsection{
  width: 35%;
}


.paragraph{
  color: #a855f7;
}

.resume {
  color: white;
  border-radius: 15px;
  width: 25%;
  background-color: #a855f7;
  padding: 12px;
}

.thirdsection {
  text-align: center; /* Center-align the container */
}

.container {
  display: flex;
  justify-content: space-between; /* Distribute space between the boxes */
  margin: 2% auto; /* Center the container horizontally */
  width: 80%; /* Set width to adjust the spacing */
}

.box {
  width: 23%; /* Set width to distribute equally */
  transition: box-shadow 0.3s ease; /* Add transition for smoother effect */
  border-radius: 10px;
  border: 1px solid transparent; /* Set initial border as transparent */
  box-shadow: 0 2px 2px rgb(168, 85, 247);; /* Add box shadow for depth effect */
}

/* Apply box shadow on hover */
.box:hover {
  border: 2px solid #a855f7; /* Set initial border as transparent */
  box-shadow: 2px 4px 4px rgb(168, 85, 247);; /* Change box shadow on hover for increased depth */
}

/* Additional styles for logos */
.html-logo,
.css-logo,
.js-logo,
.react-logo {
  width: 100%; /* Make the logos fill the box */
  max-width: 150px; /* Adjust the max-width of the logos */
}

hr{
  width: 100%;
  height: 1px;
  background-color: #a855f7;
}


/* App.css */

/* Other styles... */

.footercentered-text {
  text-align: center; /* Center align the text */
}

.social-icons {
  text-align: center; /* Center align the icons */
  margin-top: 20px; /* Add space between the text and icons */
}

.social-icons a {
  color: #a855f7; /* Set color for the icons */
  font-size: 24px; /* Set font size for the icons */
  margin: 0 10px; /* Add space between the icons */
  transition: color 0.3s ease; /* Add transition for smoother effect */
}

.social-icons a:hover {
  color: #663399; /* Change color on hover */
}
